@font-face {
    font-family: 'GE SS';
    src: url(GE_SS_Two_Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: 'GE SS';
    src: url(GE_SS_Two_Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: 'GE SS';
    src: url(GE_SS_Two_Light.otf);
    font-weight: 300;
}
