:root {
    --admin-primary: #d3b568;
    --admin-secondary: #212025;

}
/* font */
@import url("fonts/Helvetica/font.css");

/* global */
body {
    background-color: #ddd;
}
.layout-content {
    background-image: url('./images/logo-symbol2.png');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 10%;
    /* background-image: url('./images/logo-symbol2.png'),url('./images/pattern.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat, repeat;
    background-position: 5% 90%; */
}
.navbar-default .navbar-collapse {
    background: rgba(221, 197, 137, 1);
    /* background: linear-gradient(110deg, rgba(221, 197, 137, 1) 0%, rgba(211, 181, 104, 1) 100%); */
}
h1,h2,h3,h4,h5,h6,
td,
label, input,
a,p,small,span {
    font-family: 'Helvetica';
}
.fw-700 {
    font-weight: 700;
}
.mb20px {
    margin-bottom: 20px;
}
.mb10px {
    margin-bottom: 10px;
}
.db {
    display: block;
}
.p30px {
    padding: 30px;
}
/* theme toggle */
.theme .theme-panel-toggler {
    background-color: transparent !important;
    border-color: transparent !important;
    max-width: 0;
}
/* profile */
.profile-cover {
    background: url(images/header.jpg);
    background-size: cover;
}
.profile-table tr {
    border-bottom: 1px dotted #eee;
}
.profile-table td {
    border: none !important;
}
.profile-label {
    background-color: rgba(238, 238, 238, 0.356);
}
.img-profile {
    width: 86px;
    height: 86px;
    padding: 10px 0;
    object-fit: cover;
}
/* profile tabs */
#profile {
    display: none;
}
#profile.active.in {
    display: block;
}
#other {
    display: none;
}
#other.active.in {
    display: block;
}
/* footer */
.version a {
    color: #eee;
    font-weight: 700;
}

/* Raise Style */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #d3b568 !important;
}

.layout-sidebar-backdrop {
    background-color: var(--admin-secondary);
    background-image: url("");
    background-position: -100% 70%;
    background-size: 300px auto;
    background-repeat: no-repeat;
}
.sidenav>li>a { 
    color: var(--admin-primary);
}

img.fit {
    object-fit: cover !important;
}
.payment-no {
    color: var(--admin-primary);
}

.hide-datatable-btn {
    display: none;
}