@import url("fonts/GE SS Two/font.css");
@import url("fonts/Helvetica/font.css");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
:root {
	--color1: #0c69b4;
	--color2: #8d2874;
	/* --color3: #f96235; */
}
.dir-ltr {
    direction: ltr !important;
}
/* butten */
.bg-tech{
    position: relative;
}
.hover-bg-rotate {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:  auto;
    height: 0;
    width: 0;
    content: url('../images/icon6.png');
    z-index: 3;
    transition: all 0.3s;
    animation: rotation 8s infinite linear;
}
.bg-tech:hover .hover-bg-rotate {
    height: 100px;
    width: 100px;
}
/* upload btn */
.input-group > .input-group-append:not(:last-child) > .btn,
.fileinput-remove {
    border-radius: 0;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
  
  
/* .bg-tech:hover {
    background-image: url('../images/icon6.png');
    background-repeat: no-repeat;
    background-position: center center;
} */
.btn-theme {
    position: relative;
    background: linear-gradient(to right, var(--color1), var(--color2));
    color: #fff;
    border-color: #fff;
    z-index: 5;
    transition: all 0.7s;
}
.btn-theme:hover {
    background: linear-gradient(to left, var(--color1), var(--color2));
}
body,
.font-a,
h1,h2,h3,h4,h5,h6,
label,
p,a,
small,
.counter,
#primary-menu ul li > a,
.testi-content p,
.button.button-desc span
{
    font-family: 'Helvetica','GE SS','Source Sans Pro', sans-serif;
    font-weight: 500;
}
.fw-300 {
    font-weight: 300 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
/* Preloader */
.loader-centered {
    margin-top: 20vh !important;
}
.preloader-img {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background:222;
}
/* social icon */
.si-instagram:hover, .si-colored.si-instagram {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
}
.si-whatsapp:hover, .si-colored.si-whatsapp {
    background: #25D366;
}
/* header */
#header:not(:hover), 
#header.dark:not(.transparent-header), 
#header:not(:hover) #header-wrap
#header.dark.sticky-header:not(.transparent-header) #header-wrap:not(.not-dark),
#header:not(:hover), 
#header.dark:not(.transparent-header), 
#header:not(:hover) #header-wrap, 
#header.dark.sticky-header:not(.transparent-header) #header-wrap:not(.not-dark),
#header-wrap, #header.sticky-header #header-wrap
{
    background-color: transparent !important;
}
#header.sticky-header #header-wrap {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
#primary-menu a {
    color: #333 !important;
}
.saperator,
#header.sticky-header li.saperator{
    margin-top: 22px;
    color: #333;
}
#primary-menu ul li > a > div:after,
#primary-menu ul li.active > a > div:after, #primary-menu ul li:hover > a > div:after{
    background: none;
}
#primary-menu ul > li > a:after {
    background: linear-gradient(to right, var(--color1), var(--color2));
}
/* slider */
#slider .carousel-item {
    max-height: 100vh;
}
#slider .carousel-item img+.overlay {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 5;
    
}
#slider .carousel-caption {
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    color: #333;
}
#slider .carousel-caption h1 {
    font-size: 4em !important;
    font-weight: 700;
}
#slider .carousel-caption p {
    font-size: 2em !important;
    font-weight: 300;
}
.carousel-control-prev, .carousel-control-next {
    z-index: 6;
}
/* Counter */
.counter-wrap {
    transition: all 0.3s;
    min-height: 180px;
}
.counter-step {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 5em;
    font-family: Lato;
    font-weight: bold;
    opacity: 0.5;
}
.counter {
    font-size: 24px;
}
.counter-dots {
    background-color: var(--color2);
    transition: all 0.4s;
}
.counter-set .counter {
    font-size: 60px;
}
.step-detail {
    opacity: 0.1 !important;
    transition: all 0.6s;
}
.counter-wrap:hover .step-detail{
    opacity: 1 !important;
}
.counter-wrap:hover .counter-dots {
    background-color: var(--color1);
}
.counter-wrap{
    cursor: pointer;
}
.counter-section [class^=col-]:not(:last-child):after {
    background: none;
    right: 100%;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--color2); }
}
/* section */
.title-section {
    margin-bottom: 100px;
}
.section-title-light {
    color: #fff;
}
.section-map:hover .section-title,
.section:hover .section-title {
    color: var(--color2);
}
.section-gradient {
    background: linear-gradient(to bottom, var(--color1) 30%,#FFF 80%);
}
.section-gradient-gray {
    background: linear-gradient(to bottom, #eee 30%,#FFF 80%);
}
.dot-tech-sec {
    position: absolute;
}
.dot-tech-sec img {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    opacity: 0.1;
}
/* logo-icon */
.logo-icon {
    width: 80px;
    height: 120px;
    /* background-image: url(../images/logo-icon.png) !important; */
    /* background-color: #571658;/ */
    object-fit: contain;
}
/* video play */
.imac .overlay{
width: 91%;
height: 60%;
right: 0;
left: 0;
top: 3px;
margin: 0 auto;
}
/* blog */
.blog-img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}
.blog-img-link+div {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.testi-content p {
    color: #333;
}
/* services */
/* .feature-box {
    transition: all 1.6s;
    transition-delay: 0.2s;
    object-fit: cover;
    background-position: top left;
} */
/* services color */
.text-brand:hover {
    color: rgb(160, 35, 35) !important;
}
.bg-brand {
    background-color: rgb(160, 35, 35) !important;
}
.text-mobile:hover {
    color: rgb(35, 160, 97) !important;
}
.bg-mobile {
    background-color: rgb(35, 160, 97) !important;
}
.text-web:hover {
    color: rgb(35, 100, 160) !important;
}
.bg-web {
    background-color: rgb(35, 100, 160) !important;
}
.text-smart:hover {
    color: rgb(160, 35, 160) !important;
}
.bg-smart {
    background-color: rgb(160, 35, 160) !important;
}
.text-network:hover {
    color: rgb(160, 147, 35) !important;
}
.bg-network {
    background-color: rgb(160, 147, 35) !important;
}
.text-cam:hover {
    color: rgb(206, 89, 60) !important;
}
.bg-cam {
    background-color:  rgb(206, 89, 60) !important;
}
.feature-box .fbox-icon{
    background-image: url('../images/icon6.png');;
}
.feature-box:hover .fbox-icon{
    background-image: url('../images/icon.gif') !important;
}
#sec-contact .feature-box .fbox-icon,
#sec-contact .feature-box:hover .fbox-icon{
    background-image: none !important;
}
.feature-box .fbox-icon i {
    color: var(--color2);
}
.Service-details {
    font-weight: 300;
}
.service-title {
    color: var(--color1) !important;
}
.services-icon .fbox-icon i{
    font-size: 40px !important;
}
.services-icon .fbox-icon {
    top: -20px !important;
}
.services-icon .feature-box.fbox-bg.fbox-center {
    padding: 35px 30px 20px;
}
/* .feature-box:hover{
    background: url(../images/featured-img/2.jpg);
    background-position: center center;
} */
/* svg theme */
.svg-themecolor {
    fill: var(--color1);
}
/* clients */
.shadow-box,
.client-thumbnail,
.clients{
    box-shadow: 10px 10px 10px #aaa;
    transition: all 0.3s;
}
.shadow-box:hover,
.client-thumbnail:hover,
.clients:hover{
    box-shadow: 5px 5px 5px #aaa;
}
.client-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
/* footer */
.testi-content {
    border: 0 !important;
    text-align: justify;
}
.testi-content p {
    padding-left: 0;
    border: 0 !important;
    text-align: justify;
}
/* About Page */
.logo-bg-right {
    background-image: url('../images/esnaad-strok.png'); 
    background-size: contain;
    background-position:  center right;
    background-repeat: no-repeat;
}
.vision-img {
    color: var(--color1) !important;
}
/* service detail */
#service-order .section-title {
    margin-top: 50px;
}
/* jobs */
.portfolio-filter {
    max-width: 94%;
}
.portfolio-filter.noborder li a {
    border: 1px solid rgba(0,0,0,0.07);
}
/* .portfolio-filter li {
    margin-bottom: 10px !important;
} */
/* job details */
.toggle.toggle-bg .togglet, .toggle.toggle-bg .toggleta {
    padding: 0 45px 0 0;
}
.toggle {
    /* margin-bottom: 25px; */
    padding-bottom: 0;
    border-bottom: 0;
}
/* apply */
.form-apply .input-group-append {
    max-height: 38px;
}
/* contact page */
#contact-form .fluid-width-video-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
}
.opening {
    background: linear-gradient(to right, rgba(12, 105, 180,0.9), rgba(141, 40, 116,0.7)), url(../images/i-esnaad-square.jpg) no-repeat center center / cover;
}
/* project details */
.chrome {
    background:   url('../images/slider.jpg') !important;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
}
.chrome::after {
    content: '';
    background-color: rgba(12, 104, 180, 0.9) !important;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.proj-logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border: 2px solid rgba(238, 238, 238, 0.3);
    box-shadow: 10px 10px 10px #eee;
    padding: 20px;
}
.proj-tech {
    border: 5px solid #eee;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.proj-chrome {
    background-position: 0 55px;
    background-repeat: no-repeat;
    width:100%;
    /* height:100%; */
    background-size: cover;
    
    -webkit-transition: background-position 10s ease-in-out;
    -moz-transition: background-position 10s ease-in-out;
    -ms-transition: background-position 10s ease-in-out;
    -o-transition: background-position 10s ease-in-out;
    transition: background-position 10s ease-in-out;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.proj-chrome:hover {
    background-position:0px bottom;
}
.chrome-holder {
    position: relative;
}
.url {
    position: absolute;
    top: 35px;
    left: 110px;
    color: #333 !important;
}
/* mobile */

.mobile-bg {
    background:   url('../images/slider2.jpg') !important;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
}
.mobile-bg::after {
    content: '';
    background-color: rgba(180, 107, 12, 0.6) !important;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.mobile-icon {
    width: 200px;
    height: 200px;
    padding: 10px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 25px;
    border: 3px solid rgba(255, 255, 255, 0.582);
}
.iphone-frame {
    background-image: url(../images/unnamed.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20px;
    border-radius: 70px !important;
}
/* branding */

.branding {
    background:   url('../images/branding.jpg') !important;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
}
.branding::after {
    content: '';
    background-color: rgba(12, 160, 180, 0.8) !important;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* CCTV Gallery */

.sec-cctv {
    background:   url('../images/cctv.jpg') !important;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
}
.sec-cctv::after {
    content: '';
    background-color: rgba(97, 73, 89, 0.829) !important;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* offer */
.offer-thumbnail {
    height: 380px; 
    width: 100%; 
    display: block;
    object-fit: cover;
}

/* Service Form */
.disabled
{
  pointer-events: none;
  opacity: 0.5;
}

@media (min-width: 769px) and (max-width: 1199.98px) {
    #primary-menu {
        margin-left: 110px;
    }
    
    #slider .carousel-caption h1 {
        font-size: 3em !important;
        font-weight: 700;
        /* margin-bottom: 12px; */
    }
}

@media (max-width: 768px)  {
    

    /* slider */
    #slider .carousel-caption h1 {
        font-size: 2em !important;
        font-weight: 700;
    }
    #slider .carousel-caption p {
        font-size: 1em !important;
        font-weight: 300;
    }
    #slider .carousel-caption .button {
        font-size: 1.2em !important;
        height: 32px;
        line-height: 32px;
    }
    #logo a.standard-logo {
        display: block !important;
        float: left;
    }

    /* home */
    .heading-block h3 {
        font-size: 20px;
    }
}

@media (max-width: 575px)  {
    
    #slider .carousel-caption h1 {
        font-size: 1em !important;
        font-weight: 700;
        margin-bottom: 12px;
    }
    #slider .carousel-caption p {
        font-size: 0.8em !important;
        font-weight: 300;
        margin-bottom: 5px;
    }
    #slider .carousel-caption .button {
        font-size: 0.8em !important;
        height: 28px;
        line-height: 28px;
    }
    #primary-menu-trigger {
        top: 25px;
    }
    .counter-section .counter-wrap {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .counter-section .counter-outside-wrap {
        padding-top: 100px;
    }
    .counter-wrap .step-detail {
        opacity: 1 !important;
    }
}