/* @import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css'); */

.container {
    margin-top: 10px;
}

.nav-tabs>li {
    position: relative;
}

.nav-tabs>li>a {
    display: inline-block;
}

.nav-tabs>li>span {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 8px;
    color: red;
}

.nav-tabs>li:hover>span {
    display: inline-block;
}